@import '~antd/dist/antd.css';

// colors
$primary-header: #00bcd4;
$primary-theme-color: white;
$primary-font-color: white;
$passing-test-color: lawngreen;
$failed-test-color: #F44336;

.app {
  text-align: center;
}

.app-header {
  background-color: $primary-header;
  color: $primary-font-color;
}

.app-content {
  width: 80%;
  margin: 0 auto;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}
