@import '~antd/dist/antd.css';
.app {
  text-align: center;
}

.app-header {
  background-color: #00bcd4;
  color: white;
}

.app-content {
  width: 80%;
  margin: 0 auto;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

/*# sourceMappingURL=App.css.map */
